/*
	This file is part of the ZeroFour Mura CMS Theme

	Notes:
		- this is where custom overrides to both the original theme and Mura CMS styling is added
*/

/* Prettyprint */
	ol.linenums {
		list-style-type: decimal;
	}

/* misc. */
	nav ul ul {
		margin-left: 1em;
		margin-bottom: 0;
	}

	.moreResults p, .moreResults ul {
		margin-bottom: 0;
	}

	.map img {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
	}

/* pagination */
	ul.pagination li {
		display: inline-block;
		padding: 0.25em;
	}

	ul.pagination li a.current {
		color: black;
		text-decoration: none;
	}

	ul.navSequential li.current a.current {
		background-color: #d9d9d9;
	}

/* Comments */
	.mura-comment-thumb img {
		border-radius: 8px;
	}

/* Category Summary */
	.mura-category-summary a.rss {
		float: right;
		width: auto;
		clear:right;
		padding: 0 0 18px 18px;
	}

/* Ratings */
	#svRatings.mura-ratings {
		float: left;
		clear: both;
		display: block;
		margin: 0 0 2em 0;
		width: 100%;
	}

	#svRatings #rateIt, #svRatings #avgrating {
		width:auto;
		margin-right: 2em;
	}

	#numvotes {
		font-style: normal;
		font-weight: normal;
		text-transform: none;
	}

/* Tag Cloud */
	.mura-tag-cloud a.tag {
		color: #3a8eb5;
	}

/* Editable Objects */
	span.editableObject footer {
		margin-bottom: 5em;
	}
	span.editableObject:last-child footer {
		margin-bottom: 0;
	}

/* Sidebar */
	#sidebar a.current, .mura-category-summary li.current a, .mura-nav-archive li.current a {
		color: #474747;
		text-decoration: none;
	}
	#sidebar li ul {
		padding-top: 1em;
	}

/* Footer */
	.rss-title {
		margin: 0;
	}
	.rss-pubdate {
		font-style: oblique;
		font-size: smaller;
	}
	footer .rss-pubdate {
		color: #fff;
	}

/* Calendar */
	.mura-calendar {
		clear: both;
		display: block;
	}
	.mura-calendar table th {
		background-color: #d9d9d9;
	}
	.mura-calendar table tr.dayofweek {
		background-color: #f9f9f9;
	}

/* Forms */
	form {}

		form legend {
			font-weight: bold;
			padding:1em 0 0.5em 0;
			font-size: 1.2em;
		}
		
		form label {
			display: block;
		}

		form input.text,
		form input[type='text'],
		form input[type='password'],
		form select,
		form textarea {
			display: block;
			box-shadow: inset 0 0 0 1px #e6e6e6;
			background: #f8f8f8;
			width: 100%;
			padding: 0.85em 1em 0.85em 1em;
			border-radius: 0.25em;
			border: 0;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
			-moz-appearance: none;
			-webkit-appearance: none;
			-o-appearance: none;
			-ms-appearance: none;
			appearance: none;
		}

		form input[type='checkbox'] {
			-webkit-appearance: checkbox;
		}
		form input[type='radio'] {
			-webkit-appearance: radio;
		}

			form input.text,
			form input[type='text'],
			form input[type='password'],
			form select {
				line-height: 1.25em;
			}

			form input.text:focus,
			form select:focus,
			form textarea:focus {
				outline: 0;
				box-shadow: inset 0 0 0 1px #afd9e0;
				background: #fcfcfc;
			}

		form textarea {
			min-height: 13em;
		}
		
		form select {
			position: relative;
		}
		
			form select option {
				color: #000;
			}
		
		form ::-moz-focus-inner {
			border: 0;
		}

		form .formerize-placeholder { color: #555 !important; }
		form ::-webkit-input-placeholder { color: #aaa !important; }
		form :-moz-placeholder { color: #555 !important; }
		form ::-moz-placeholder { color: #555 !important; }
		form :-ms-input-placeholder { color: #555 !important; }


/* home features1 headings */
	.box-feature1 header.second {
		white-space: normal !important;
		max-width: 300px;
		/*float:left;
		left: 60px;*/
	}
	.box-feature1 header.second:before {
		top: 0;
	}

/* Tablet (up to 1200px) */
	@media (max-width: 1200px) {

		.box-feature1 header.second {
			max-width: 240px;
		}

	}


/* Mobile (up to 480px) */
	@media (max-width: 480px) {
		.box-feature1 header.second {
			max-width: 200px;
		}

		/* Hide the Front End Toolbar when viewing at mobile size */
		div.mura.mura-toolbar {
			display: none;
		}
	}


/* PRINT */
	@media print {
		.mura-toolbar { display:none; }
		.editableObjectControl .edit { display:none;}
		.editableObject > ul.editableObjectControl > li.edit > a.frontEndToolsModal { display:none !important;}
	}